.bookmark-page {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  min-height: 100vh;
  gap: 80px;
  padding: 10px;
  background-color: var(--clr-black);
}

.bookmark-list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 46%;
  max-width: 830px;
  background-color: var(--clr-grey);
}
