

.card-subtitle, .card-text {
  color: var(--clr-light);
}

.card-image{
  width:3em;
  height: 4em;
}

.card{
  background-color: blueviolet;
  border-radius: 10px;
  padding: 10px;
  margin:10px;
}