.home {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  gap: 80px;
  padding: 10px;
  background-color: var(--clr-black);
  justify-content: space-between;
}

.feed-container {
  width: 46%;
  background-color: var(--clr-black);
  padding: 10px;
}

.post-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.post-container {
  display: flex;
  flex-direction: column;
  background-color: #151515;
}

.post-form {
  width: 100%;
  margin: 0;
  background-color: #151515;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.name-options {
  display: flex;
  justify-content: space-between;
}

.profile-caption {
  display: flex;
  width: 100%;
  gap: 20px;
}

.post-btn:hover {
  background-color: var(--clr-primary);
  color: var(--clr-light);
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding-top: 20px;
}

.option-items {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.profile-pic {
  width: 50px;
  min-width: 50px;
  min-width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
  margin-bottom: 10px;
}

#create-post-caption {
  min-width: 90%;
  width: 100%;
  max-width: 100%;
  color: var(--clr-light);
  background-color: #151515;
  border: none;
  padding-bottom: 20px;
  outline: none;
  font-family: var(--ff-primary);
  font-size: var(--fs-xs);
  font-style: italic;
}

.post-footer {
  display: flex;
  gap: 15px;
}

.post-likes {
  display: flex;
  align-items: center;
  color: var(--clr-light);
  cursor: pointer;
}

.post-comments {
    display: flex;
  align-items: center;
  color: var(--clr-light);
  cursor: pointer;
}

.post-bookmarks {
    display: flex;
  align-items: center;
  color: var(--clr-light);
  cursor: pointer;
}

.likes {
  display: flex;
  gap: 5px;
}

.user-profile {
  display: flex;
  color: var(--clr-light);
  align-items: center;
  gap: 15px;
}

/* .card {
  border: "1px solid #ccc";
  width: "200px";
  height: "250px";
  margin: "10px";
  display: "inline-block";
  vertical-align: "top";
} */

.modal-overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  background-color: rgba(21, 21, 21, 0.8);
  color: var(--clr-light);
}

.post-modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  height: auto;
  color: var(--clr-light);
  background-color: var(--clr-primary);
  padding: 30px;
  border-radius: 20px;
}

.post-modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  gap:20px;
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.post-caption-input{
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border: 2px solid var(--clr-light);
  border-radius: 10px;
}

/* #update-post-btn{
  margin-top: 30px;
} */
