.jobs-page {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  gap: 80px;
  padding: 10px;
  justify-content: space-between;
  background-color: var(--clr-black);
}

.jobs-search-container {
  width: 100%;
}

.jobs-search-form {
  display: flex;
  width: 100%;
  gap: 10px;
}

.search-bar {
  width: 100%;
  background-color: var(--clr-grey);
  border: 1px solid var(--clr-primary);
}

.job-search-btn {
  height: 50px;
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.job-feed {
  display: flex;
  flex-direction: column;
  width: 46%;
  max-width: 830px;
  background-color: var(--clr-black);
  padding: 10px;
}

.job-container {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: var(--clr-grey);
  color: var(--clr-light);
  border-radius: 10px;
}

.company-pic {
  max-width: 65px;
  max-height: 65px;
  border-radius: 10px;
  overflow: hidden;
}

.job-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 20px;
}

.job-options {
  display: flex;
  gap: 20px;
}

.job-description {
  font-size: var(--fs-xs);
}

/*Modal*/
#create-a-job-btn{
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.job-modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  background-color: rgba(21, 21, 21, 0.8);
  color: var(--clr-light);
}

.job-modal-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  height: auto;
  color: var(--clr-light);
  background-color: var(--clr-primary);
  padding: 30px;
  border-radius: 20px;
}

.job-modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.job-modal-form-inputs{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 30px;
}

.job-modal-form-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.job-modal-form-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.create-job-input {
  width: 100%;
    margin: 0px;
}

.job-description-input{
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border: 2px solid var(--clr-light);
  border-radius: 10px;
}

#create-job-btn{
  margin-top: 30px;
}
