body {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.hero-section {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.hero-section-left {
  width: 50%;
  padding: 80px;
  color: var(--clr-light);
  background-color: var(--clr-black);
  line-height: 1;
}

#logo-purple {
  width: 200px;
  margin-bottom: 30px;
}

#sign-up-btn {
  width: 180px;
  height: 50px;
  font-weight: var(--fw-medium);
  font-size: var(--fs-xs);
}

#sign-up-btn:hover {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.hero-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-section-right {
  width: 50%;
  padding: 80px;
  background-color: var(--clr-primary);
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.nav-items {
  background-color: var(--clr-light);
  color: var(--clr-primary);
}

.nav-items:hover {
  background-color: var(--clr-black);
  color: var(--clr-light);
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  gap: 30px;
}

.arrow-icon {
  width: 40px;
  height: 40px;
  background-color: var(--clr-black);
  padding: 10px;
  border-radius: 50px;
}

.display-card {
  background-color: var(--clr-black);
  border: 0px solid black;
  border-radius: 20px;
  overflow: hidden;
}

.display-card-img {
  width: 350px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../SVG/lucas.jpg");
}

.display-card-description {
  color: var(--clr-light);
  padding: 30px;
}

/* ////////////landing-container/////////////// */
.original-landing-page-container {
  height: 100vh;
  width: 100vw;
}

.landing2-connect-container,
.landing3-resource-container,
.landing4-join-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
}


p {
  color: white;
}

/* ////////////landing2/////////////// */
.landing2-connect-container{
    display:grid;
    grid-template-columns: 1fr 2fr;
}

.landing-connect-left{
    display: flex;
    justify-content: center;
    align-items: center;

}

.landing-connect-image-right{
    background-image: url("../SVG/laptop.png"); 
}


/* ////////////landing3/////////////// */
.landing3-resource-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.one,
.two,
.three,
.four{
    border:1px solid white;
    height:300px;
    border-radius: 10px;
    background-color: #A674AE;
}
.right-boxes{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.landing3-resource-left{
    display:flex;
    height:500px;
    justify-content: start;
    align-items: flex-start;
}

/*////////////landing4/////////////// */

.landing4-join-container{
  display:grid;
  grid-template-columns: 1fr 1fr;  
}

.landing4-join-left{
    display: flex;
    justify-content: center;
}

.landing4-join-right{
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.four-box{
    background-color: #A674AE;
    border-radius: 10px;
    height:400px;
    width:60%;
}

/* ////////////landing-footer/////////////// */

.landing-footer-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    width: 100vw;
    padding: 30px;
    background-color: #000;
  }

  .landing-footer-left{
    width: 50%;
  }

  .landing-footer-right{
    width: 50%;
    /* display: flex;
    justify-content: space-evenly;
    align-items: flex-start; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

.footer-header{
    font-size: 20px;
    color: #fff;
  }


