.login-container {
  display: flex;
  height: 100vh;
  width:100vw;
}

.login {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 80px;
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.login-btn{
  width: 100%;
  margin-bottom: 5px;
}

.login-btn:hover {
  background-color: var(--clr-light);
  color:var(--clr-black);
}

.signup-link {
  text-decoration: underline;
  color: var(--clr-light);
}

.login-img-section {
  width: 60%;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: var(--clr-black);
}

.login-image img {
  width: 200px;
  height: 200px;
  max-width: 100%;
}

.logo{
  width: 200px;
  margin-bottom: 60px;
}

