.post{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--clr-grey);
}

.post-header {
    display: flex;
}

.post-info {
    color: var(--clr-light);
}

.post-footer {
    display: flex;
}