


.settings{
    display:flex;
    justify-content: space-between;
    width: 100vw;
    min-height: 100vh;
}

.settings-form{
    display: flex;
}

.settings-form-class{

}

.settings-button{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
