.logo-image-container {
  padding: 2rem;
}

.signup-logo {
  width: 200px;
  align-self: self-start;
}

.signUp-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.signUp-Form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 60%;
  border: none;
}

.signUp-Form h1 {
  color: var(--clr-light);
}

.signUp-Form-Right {
  width: 50%;
  background-color: var(--clr-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-img-personal {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  padding: 80px;
}

.container {
  gap: 30px;
}

.sign-up-container {
  width: 100vw;
}

.sign-up-img-personal{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.header-two-boxes-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background-color: var(--clr-black);
}

.account-box {
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 30em;
  background: var(--clr-primary);
  /* text-align: left; Set the text alignment to left */
  color: var(--clr-light);
  border-radius: 15px;
  gap: 20px;
}

.signup-logo-container {
  display: flex;
}

.signup-header {
  color: var(--clr-light);
  margin-bottom: 30px;
}

.account-text {
  font-size: var(--fs-xs);
}

.sign-up-icon {
  width: 100px;
}

.account-button {
  color: var(--clr-black);
}

.account-button:hover {
  color:var(--clr-primary);
  background-color: var(--clr-light) !important;
}

.signUp-Input-Box {
  margin-bottom: 15px;
}

.signupbtn {
  width: 100%;
  color: white !important;
}

.signupbtn:hover {
  background-color: var(--clr-light);
  color: var(--clr-black) !important;
}

h5 {
  color: var(--clr-light) ;
}