.logo-image-container {
  display: inline-block;
}

.signup-logo {
  display: inline;
  width: 200px;
  margin: 0px;
  padding: 0px;
}

.signUp-container {
  display: inline-block;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: right;
}

.signUp-Form {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem;
  width: 60%;
  border: none;
}

.signUp-Form h1 {
  color: #ffffff;
}

.signUp-Form-Left {
  width: 50vw;
  background-color: #a674fe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
}

.main {
  text-align: center;
  vertical-align: center;
}

i {
  display: block;
  font-size: 3em;
}
.header-two-boxes-container {
  width: 100%;
  margin: auto;
}
.account-box {
  padding: 2em;
  width: 30em;
  background: #a674fe;
  text-align: left; /* Set the text alignment to left */
  color: white;
  margin: 4em;
  border-radius: 15px;
}
.account-text {
  padding: 10px;
}
.account-header {
  font-size: 2em;
  padding: 10px;
}

.signup-header {
  font-size: 3em;
  text-align: center;
  align-items: center;
}

.account-button {
  margin-top: 1em;
  border-radius: 12px;
  height: 2.5em;
  font-size: 1.25em;
  background: white;
  text-align: center;
  color: #a674fe;
  cursor: pointer;
}

#h1 {
  text-align: center;
}

label {
  margin-top: 10px;
  color: #ffffff;
}

.signUp-Input-Box {
  background-color: transparent;
  border: 3px solid white;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.signupbtn {
  background-color: whitesmoke;
  color: black;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 15px;
}

.signupbtn:hover {
  background-color: black;
  color: white;
}

p {
  text-align: center;
}
