:root {
  --clr-primary: #a674fe;
  --clr-black: #000000;
  --clr-grey: #080808;
  --clr-light: #ffffff;

  --ff-primary: "Poppins", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 900;

  --fs-xxs: 12px;
  --fs-xs: 16px;
  --fs-s: 20px;
  --fs-m: 24px;
  --fs-l: 42px;
  --fs-xl: 70px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  font-family: var(--ff-primary) !important;
  margin: 0;
  padding: 0;
  font: inherit;

  text-transform: none !important;
}

/*Removes default text styling on anchor tags*/
a {
  text-decoration: none;
  color: var(--clr-light);
  font-family: var(--ff-primary);
}

/*Stypes paragraph tags*/
p {
  font-family: var(--ff-primary);
  font-size: var(--fs-s);
  font-weight: var(--fw-regular);
  line-height: 1.2;
  text-align: left;
}

/*Custom styles for H tags*/
h1 {
  font-family: var(--ff-primary);
  font-size: var(--fs-xl);
  font-weight: var(--fw-medium);
}

h2 {
  font-family: var(--ff-primary);
  font-size: var(--fs-l);
  font-weight: var(--fw-medium);
  line-height: 1.2;
}

h3 {
  font-family: var(--ff-primary);
  font-size: var(--fs-m);
  font-weight: 500;
}

h4 {
  font-family: var(--ff-primary);
  font-size: var(--fs-s);
  font-weight: var(--fw-regular);
}

h5 {
  font-family: var(--ff-primary);
  font-size: var(--fs-xs);
  font-weight: var(--fw-regular);
}

h6 {
  font-family: var(--ff-primary);
  font-size: var(--fs-xs);
  font-weight: var(--fw-regular);
  font-style: italic;
}

/* Button Styles */
button {
  width: auto;
  padding: 13px 35px;
  font-family: var(--ff-primary);
  font-size: small;
  font-weight: 500;
  border: 0px solid black;
  border-radius: 10px;
}

form {
  width: 100%;
  border: none;
}

label {
  font-family: var(--ff-primary);
  font-size: var(--fs-xs);
  font-weight: var(--fw-regular);
  color: var(--clr-light);
}

textarea {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  color: var(--clr-light);
  background-color: #151515;
  border: none;
  padding: 15px;
  outline: none;
  font-family: var(--ff-primary);
  font-size: var(--fs-xs);
  font-style: italic;
}

input {
  width: 100%;
  height: 50px;
  border: 2px solid var(--clr-light);
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  font-family: var(--ff-primary);
  font-size: var(--fs-xs);
  color: var(--clr-light);
  padding: 10px;
  margin-bottom: 30px;
}

::placeholder {
  color: var(--clr-light);
  opacity: 0.4;
  font-size: var(--fs-xs);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul {
  list-style: none;
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-family: var(ff-primary);
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  background-color: var(--clr-black);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
svg,
picture {
  max-width: 100%;
  display: block;
}

.menu {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 5px;
  left: 5px;
  width: 27%;
  max-width: 360px;
  height: 100vh;
  background-color: var(--clr-grey);
  padding: 10px;
  border-radius: 15px;
  gap: 30px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 53px;
  height: 100%;
}

.menu-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 10px;
  color: var(--clr-light);
  font-family: var(ff-primary);
}

.btn {
  text-transform: none !important;
}
.btn-text-black {
  text-transform: none !important;
  color: black !important;
}

.case-fix {
  text-decoration: none !important;
}

.menu-item {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 10px 45px;
  border-radius: 10px;
  gap: 30px;
}

.profile-settings {
  display: flex;
  flex-direction: column;
  color: var(--clr-light);
  gap: 10px;
}

.page-container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  gap: 80px;
  padding: 10px;
  justify-content: center;
  color: var(--clr-light);
}

/* .left-item {
    position: fixed;
    left: 0;
  }
  
  .right-item {
    position: fixed;
    right: 0;
  }

  .middle-item {
    margin: 0 auto;
  } */

.messages-container {
  display: flex;
  width: 27%;
  max-width: 360px;
  background-color: var(--clr-grey);
  color: var(--clr-light);
  position: sticky;
  top: 0;
  right: 0;
  flex-direction: column;
  height: 100vh;
  margin-top: 2em;
}

.message-bubble {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 80%;
}
.message-bubble.right {
  background-color: #a674fe;
  align-self: flex-end;
}
.message-bubble.left {
  background-color: grey;
  align-self: flex-start;
}
.message-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  margin-bottom: 4em;
}

.uploadcare--widget__button {
  background-color: var(--clr-grey);
  width: 20px;
  height: 20px;
  font-size: 0px;
  background-image: url(../src/SVG/img_icon.svg);
  background-position: center;
  background-size: cover;
}

.uploadcare--widget__button:hover {
  background-color: var(--clr-primary);
  color: var(--clr-light);
  width: 20px;
  height: 20px;
  font-size: 0px;
  background-image: url(../src/SVG/img_icon.svg);
  background-position: center;
  background-size: cover;
}



.bookmark-icon {
  color: white; /* default color */
}

.bookmarked {
  background-color: purple; /* color when bookmarked */
  animation: flash 1s;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }

}